download_data.slurm
finetune_f5tts.slurm
inference_f5tts.slurm
preparedata.ipynb
envs/conda_env
envs/F5-TTS
logs/
finetune/runs_log.md
wandb/
tests/
.ipynb_checkpoints/
unit_tests/
unittest.slurm
f5_tac/__pycache__/
f5_tac/model/__pycache__/
f5_tac/model/backbones/__pycache__/